<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::script})">
<title>Track Blood Sugar Level</title>
<script th:src="@{/resources/js/dateTimeService.js}"
	src="../resources/js/dateTimeService.js"></script>
</head>

<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			/* Otherwise Thymeleaf tries to parse Javascript as XML and breaks itself sometimes.  Sigh */
			/*<![CDATA[*/
			var app = angular.module("addBloodSugarDataEntryApp", ['dateTimeServices']);
			app.controller('addBloodSugarDataEntryCtrl', function ($scope, $http, dateTimeService) {
				const now = new Date();
				$scope.inputDate = now;
				$scope.entry = {
					date: dateTimeService.toDateString(now),
					fasting: '',
					meal1: '',
					meal2: '',
					meal3: '',
					csv: ''
				};
				//$scope.mealTypes = ['Breakfast', 'Lunch', 'Dinner', 'Snack'];
				
				// Sets the messages when the system fails to 
				// add the food diary entry to the database.
				$scope.failAddEntry = function () {
					$scope.errorMsg += "Could not add blood sugar entry."
					$scope.message = "";
				}

				$scope.submitCSV = function(){
					$scope.selectedFile = document.getElementById("file");
					console.log($scope.entry.csv);
					$http.post("/iTrust2/api/v1//BSLdiarycsv", $scope.entry.csv).then(
							function success(response) {
								if (response.data.patient) {
									$scope.message = "Your diary blood sugar entry has been added successfully."
									$scope.entry = {};
									$scope.errorMsg = "";
									//document.location.href = '/iTrust2/patient/bloodSugarLevel/addBloodSugarLevel';
								} else {
									// Redirected to login page,
									// not actually successful
									$scope.failAddEntry();
								}
							}, function failure(rejection) {
								$scope.failAddEntry();
							}
						);
				}
				
				$scope.submit = function () {
					$scope.errorMsg = "";
					
					// Validate entry date
					var date = new Date($scope.inputDate);
					var now = new Date();
					if (!dateTimeService.isValidDate(date) || now - date < 0) {
						$scope.errorMsg += "Please input a valid date.\n";
					} else {
						$scope.entry.date = dateTimeService.toDateString(date);
					}
					
					// Validate fasting bsl
					if ( !$scope.entry.fasting || $scope.entry.fasting >=500 ||  $scope.entry.fasting < 0) {
						$scope.errorMsg += "fasting blood sugar level must be 0 to 500 \n";
					}
					
					// Validate breakfast bsl
					if ( !$scope.entry.meal1 || $scope.entry.meal1 >=500 ||  $scope.entry.meal1 < 0) {
						$scope.errorMsg += "breakfast blood sugar level must be 0 to 500 \n";
					}
					
					// Validate lunch bsl
					if ( !$scope.entry.meal2 || $scope.entry.meal2 >=500 ||  $scope.entry.meal2 < 0) {
						$scope.errorMsg += "lunch blood sugar level must be 0 to 500 \n";
					}
					
					// Validate dinner bsl
					if ( !$scope.entry.meal3 || $scope.entry.meal3 >=500 ||  $scope.entry.meal3 < 0) {
						$scope.errorMsg += "dinner blood sugar level must be 0 to 500 \n";
					}
					
					// Check to ensure a patient is authenticated and the form is correct.
					if ($scope.errorMsg.length >= 1 ) {
						$scope.failAddEntry();
						return;
					}
					
					// Prepare entry for submission
					var submitEntry = angular.copy($scope.entry);
					submitEntry.date = dateTimeService.toDateString(date);

					// POST the entry to the REST API endpoint, and handle
					// success/error
					$http.post("/iTrust2/api/v1//BSLdiary", $scope.entry).then(
						function success(response) {
							if (response.data.patient) {
								$scope.message = "Your diary blood sugar entry has been added successfully."
								$scope.entry = {};
								$scope.errorMsg = "";
								//document.location.href = '/iTrust2/patient/bloodSugarLevel/addBloodSugarLevel';
							} else {
								// Redirected to login page,
								// not actually successful
								$scope.failAddEntry();
							}
						}, function failure(rejection) {
							$scope.failAddEntry();
						}
					);
				}
			});
			/*]]>*/
		</script>

		<div class="container" ng-app="addBloodSugarDataEntryApp"
			ng-controller="addBloodSugarDataEntryCtrl">
			<div class="row">
				<div class="col">
					<h3>Add Blood Sugar Data Entry </h3>
				</div>

				<div class="col-md-5">
					<div class="form-group">
						<label for="date">Date</label> <input class="form-control"
							id="date" type="date" ng-model="inputDate" name="date"
							required="true" />
					</div>

					<!-- <div class="form-group">
						<label for="mealType">Type of Meal</label> <select
							class="form-control" ng-model="entry.mealType" id="mealType"
							name="mealType">
							<option ng-repeat="mealType in mealTypes">{{mealType}}</option>
						</select>
					</div> -->

					<div class="form-group">
						<label>Fasting blood sugar level</label> <input class="form-control"
							id="fasting" type="number" ng-model="entry.fasting" name="fasting" />
					</div>

					<div class="form-group">
						<label>Breakfast blood sugar level</label> <input
							class="form-control" id="breakfast" type="number"
							ng-model="entry.meal1" name="breakfast" />
					</div>

					<div class="form-group">
						<label>Lunch blood sugar level</label> <input
							class="form-control" id="lunch" type="number"
							ng-model="entry.meal2" name="lunch" />
					</div>

					<div class="form-group">
						<label>Dinner blood sugar level</label>
							<input class="form-control" id="dinner" type="number"
								ng-model="entry.meal3" name="dinner" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary" ng-click=submit()
							name="submit" id="submit">Add Entry</button>
					</div>
					
					<div class="form-group">
						<label> choose csv file to upload</label>
						<input type="file" id="file" name="file" accept=".csv"
						ng-model="entry.csv" multiple>			
					</div>
					
					<div>
						<button type="submit" class="btn btn-primary" ng-click=submitCSV()
							name="submit" id="submit">Add Entry by csv</button>
					</div>

					<div class="form-group">
						<div name="success" class="text-success" style="white-space: pre;">{{message}}</div>
						<div name="errorMsg" class="text-danger" style="white-space: pre;">{{errorMsg}}</div>
					</div>

				</div>
			</div>

		</div>
</body>

</html>